<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bkk.mapper.CommentMapper">

    <select id="listReplies" resultType="com.bkk.domain.vo.ReplyVO">
        SELECT
            c.id,
            c.user_id,
            au.nickname,
            au.avatar,
            c.reply_user_id,
            a.nickname AS reply_nickname,
            c.parent_id,
            c.content,
            c.create_time
        FROM b_comment c left JOIN b_user u ON c.user_id = u.id
                         left  JOIN b_user r ON c.reply_user_id = r.id
                         left  JOIN b_user a ON a.id = r.id
                         left  JOIN b_user au ON au.id = u.id
        WHERE
            c.parent_id =#{id} limit 3
    </select>

    <select id="listReplyCountByCommentId" resultType="com.bkk.domain.vo.ReplyCountVO">
        SELECT
            parent_id as comment_id,
            count(1) AS reply_count
        FROM
            b_comment
        WHERE
            parent_id =#{id} GROUP BY parent_id
    </select>

</mapper>